.title-container h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 10px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
  }
  .title-container h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #ffde9e;
    margin: 4px 10px;
  }
  
  .title-container p {
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #151515;
    text-align: justify;
  }

  @media screen and (max-width: 478px) {
    .title-container p {
      font-size: 6vw;
    }
  }
  