.intruduce-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100% ;
    margin: 1rem;
}

.digital-title{
    margin: 0;
    font-size: 3.2vw;
    font-weight: 700;
    color: #fff;

}

.kasuka{
    font-size: 3vw;
    font-weight: 700;
   color: #ffc451 ;
}

h2{
    color: rgba(255, 255, 255, 0.9);
    margin: 10px 0 0 0;
    font-size: 2vw;
}

@media screen and (max-width: 1232px) {
    .digital-title{
        font-size: 5vw;
    }
    
    .kasuka{
        font-size: 4.5vw;
    }
    
    h2{
        font-size: 3vw;
    }
}

@media screen and (max-width: 609px) {
    .intruduce-container{
        margin-top: 3rem;
    }
}